header {
  position:relative;
  width:100%;
  min-height:auto;
  overflow-y:hidden;
  background:url(../img/bg-pattern.png),#b17aec;
  background:url(../img/bg-pattern.png),-webkit-linear-gradient(to left,#73b5a6,#b17aec);
  background:url(../img/bg-pattern.png),linear-gradient(to left,#73b5a6,#b17aec);color:#fff
}

@media (min-width: 768px) {
  header .device-container {
    max-width: none;
    max-height: calc(0vh);
    margin: 250px auto 0;
  }
}

@media (min-width: 768px){
  section.cta .cta-content h2 {
      font-size: 38px;
  }
}

section.cta .cta-content h2 {
    max-width: 800px;
}

.css-thank-you-message {
  height: 150px;
  padding-top: 60px;
  background-color: #71bbe8;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

#id_email {
  width: 300px;
}
